node_modules/
coverage/

database/activities
database/images

database/imageDownloader.js
./placesData.csv
./primaries.csv
database/placesData.csv
database/activitiesData.csv

./newrelic.js
*.csv
*.pem
login.sh
