.activity-card-container {
  width: 191.66666666666667px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  overflow-wrap: normal;
  white-space: pre-line;
}

.activity-img:hover {
  transform: scale(1.025);
}

.activity-img {
  border-radius: 10px;
  width: 171.66666666666667px;
  height: auto;
  transition: 0.1s ease-in-out all;
}

.a-heart-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

.white-circle {
  position: absolute;
  top: 4.7px;
  right: 7px;
  background-color: white;
  opacity: 60%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.activity-heart-icon {
  opacity: 70%;
  background: inherit;
  position: relative;
  height: 12px;
  width: 12px;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  box-sizing: border-box;
}

.activity-heart-icon::after {
	background: inherit;
	border-radius: 50%;
	content: '';
	position: absolute;
	top: -50%;
	left: 0;
	height: 12px;
  width: 12px;
}

.activity-heart-icon::before {
	background: inherit;
	border-radius: 50%;
	content: '';
	position: absolute;
	top: 0;
	right: -50%;
	height: 12px;
  width: 12px;
}

.activity-image-container {
  position: relative;
  margin-bottom: 5px;
}

.activity-rating {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.activity-rating-container {
  margin-bottom: 5px;
}

.a-numb-reviews {
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.activity-price {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.activity-descrip, .activity-pperson {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13.5px;
  margin-bottom: 5px;
}
