#service5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.star-icon {
  color: #FF5A5F;
}

.white-circle {
  position: absolute;
  top: 4.7px;
  right: 7px;
  background-color: white;
  opacity: 60%;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
