.place-carousel-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 1150px;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-top: 5px;
}

.place-carousel-container::-webkit-scrollbar {
  /* removes scrollbar from view */
  display: none;
}