.placecard-container {
  /* border: 2px solid black; */
  width: 250px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  transition: 0.1s ease-in-out all;
}

.place-img:hover {
  transform: scale(1.025);
}

.place-img {
  border-radius: 10px;
  width: 230px;
  height: auto;
  transition: 0.1s ease-in-out all;
}